<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PlugIn.Mail.Host" value="mail.azmisahin.com"/>    
    <add key="PlugIn.Mail.Port" value="587"/>
    <add key="PlugIn.Mail.UserName" value="sender@azmisahin.com"/>
    <add key="PlugIn.Mail.Password" value="senderPa$$word"/>
    <add key="PlugIn.Mail.EnableSsl" value="false"/>
    <add key="PlugIn.Mail.Mail" value="any@outlook.com"/>
    <add key="PlugIn.Mail.Subject" value="Web Form"/>
    <add key="PlugIn.Mail.Content" value="Web Mail"/>
    <add key="PlugIn.Mail.Signature" value="http://azmisahin.com"/>    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
